.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  line-height: 1.4;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

ion-button {
  font-weight: 500;
}

.search-bar {
  --box-shadow: 0px 7px 18px 0 rgba(var(--ion-color-primary-shade-rgb), 0.1);
  --border-radius: 8px;
}

.h2 {
  line-height: 1.4;
  font-weight: 500;
  font-size: 1.3rem;
}

.h4 {
  line-height: 1.4;
  font-weight: 600;
  font-size: 1rem;
}

.section {
  margin-top: 1rem;
  display: block;
}

.button {
  text-transform: initial;
}

.list {
  width: calc(100% + 32px);
  padding-bottom: 24px;
  padding-left: 16px;
  margin-left: -16px;
  overflow-x: auto;
}

.list-content {
  display: flex;
  flex-wrap: nowrap;
  width: calc(var(--items-count) * calc(170px + 1rem));
}

.list-item {
  width: 170px;
  /* height: 160px; */
  border-radius: 12px;
  box-shadow: 0px 6px 14px 0 rgba(var(--ion-color-primary-shade-rgb), 0.1);
  margin-right: 1rem;
  overflow: hidden;
}

.list-item-media {
  width: 100%;
  padding-bottom: 75%;
  background-color: var(--ion-color-primary-tint);
  position: relative;
  background-size: cover;
  background-position: center;
}

.list-item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 1rem;
  color: var(--ion-color-dark);
}

.list-item-rating {
  line-height: 1;
  display: flex;
  align-items: center;
  margin-left: 4px;
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--ion-color-dark-tint);
}

.list-item-rating ion-icon {
  margin-top: -1px;
  margin-left: 2px;
  /* font-size: 14px; */
}

.list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.list-item-delivery-time {
  font-size: 0.825rem;
  font-weight: 500;
  color: var(--ion-color-dark);
  background-color: var(--ion-color-dark-contrast);
  border-radius: 99999px;
  box-shadow: 0px 3px 8px 0 rgba(var(--ion-color-dark-rgb), 0.1);
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 4px 8px;
}

ion-fab-button {
  --box-shadow: 0 3px 5px -1px rgba(var(--ion-color-primary-shade-rgb), 0.2),
    0 6px 10px 0 rgba(var(--ion-color-primary-shade-rgb), 0.14),
    0 1px 18px 0 rgba(var(--ion-color-primary-shade-rgb), 0.12);
}

ion-tab-button {
  font-weight: 600;
}

ion-tab-button:not([aria-selected='true']) {
  font-weight: 500;
  color: var(--ion-color-tint);
}

#home-search {
  margin-bottom: 2rem;
}
